@import "tailwindcss";

@font-face {
  font-family: "Goth";
  src: url("/fonts/gothBlack.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GothBold";
  src: url("/fonts/gothBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GothBody";
  src:
    url("/fonts/gothMed.woff") format("woff"),
    url("/fonts/gothMed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  &::selection {
    background-color: var(--color-pangea-dark);
    color: var(--color-offwhite);
    text-shadow: 1px 1px 0 black;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black: #2d291f;
  --color-offwhite: #f5f4ee;
  --color-offwhite-translucent: rgba(245, 244, 238, 0.9);
  --color-paprika: #b54e26;
  --color-brick: #8f1402;
  --color-brick-translucent: rgba(143, 20, 2, 0.5);
  --color-pizzaria: #805336;
  --color-pizzaria-dark: #66422b;
  --color-tan: #cdc2af;
  --color-wheat: #c09d4f;
  --color-pangea: #a97858;
  --color-pangea-dark: #8b6c4e;
  --shadow-icon: 0 4px 4px 4px rgba(0, 0, 0, 0.15);

  --breakpoint-mobile: 320px;
  --breakpoint-mobile-md: 420px;
  --breakpoint-mobile-lg: 480px;
  --breakpoint-tablet: 640px;
  --breakpoint-tablet-md: 768px;
  --breakpoint-tablet-lg: 880px;
  --breakpoint-tablet-xl: 992px;
  --breakpoint-desktop: 1024px;
  --breakpoint-desktop-md: 1100px;
  --breakpoint-desktop-lg: 1200px;
  --breakpoint-widescreen: 1400px;
}

.mapSelector {
  a {
    &.active,
    &:hover {
      span {
        text-decoration: underline;
        text-decoration-thickness: 7px;
        text-underline-offset: 10px;
        text-decoration-color: var(--color-pangea);
      }
    }
  }

  .mapNav {
    @media only screen and (min-width: 768px) {
      background: linear-gradient(
        90deg,
        var(--color-black) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}

header {
  nav {
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    .closeButton {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &.open {
      opacity: 1;
      user-select: auto;
      pointer-events: auto;

      @media only screen and (max-width: 767px) {
        padding: 5rem 48px 2rem;
      }

      .closeButton {
        opacity: 1;
      }
    }
  }
}
