@import "tailwindcss";

body {
  font-family: "Montserrat", "Montserrat Fallback";

  &::selection {
    background-color: var(--color-pangea-dark);
    color: var(--color-offwhite);
    text-shadow: 1px 1px 0 black;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black: #2d291f;
  --color-offwhite: #f5f4ee;
  --color-offwhite-translucent: rgba(245, 244, 238, 0.9);
  --color-paprika: #b54e26;
  --color-paprika-translucent: rgba(181, 78, 38, 0.5);
  --color-brick: #8f1402;
  --color-brick-translucent: rgba(143, 20, 2, 0.5);
  --color-pizzaria: #805336;
  --color-pizzaria-translucent: rgba(128, 83, 54, 0.5);
  --color-pizzaria-dark: #66422b;
  --color-tan: #cdc2af;
  --color-wheat: #c09d4f;
  --color-wheat-translucent: rgba(192, 157, 79, 0.5);
  --color-pangea: #a97858;
  --color-pangea-translucent: rgba(169, 120, 88, 0.8);
  --color-pangea-dark: #8b6c4e;
  --shadow-icon: 0 4px 4px 4px rgba(0, 0, 0, 0.15);

  --breakpoint-mobile: 320px;
  --breakpoint-mobile-md: 420px;
  --breakpoint-mobile-lg: 480px;
  --breakpoint-tablet: 640px;
  --breakpoint-tablet-md: 768px;
  --breakpoint-tablet-lg: 880px;
  --breakpoint-tablet-xl: 992px;
  --breakpoint-desktop: 1024px;
  --breakpoint-desktop-md: 1100px;
  --breakpoint-desktop-lg: 1200px;
  --breakpoint-widescreen: 1400px;
}

.mapSelector {
  a {
    &.active,
    &:hover {
      span {
        text-decoration: underline;
        text-decoration-thickness: 7px;
        text-underline-offset: 10px;

        &.decoration-pangea {
          text-decoration-color: var(--color-pangea);
        }

        &.decoration-wheat {
          text-decoration-color: var(--color-wheat);
        }

        &.decoration-paprika {
          text-decoration-color: var(--color-paprika);
        }

        &.decoration-pizzaria {
          text-decoration-color: var(--color-pizzaria);
        }
      }
    }
  }

  .mapNav {
    @media only screen and (min-width: 768px) {
      background: linear-gradient(
        90deg,
        var(--color-black) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}

header {
  nav {
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    .closeButton {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &.open {
      opacity: 1;
      user-select: auto;
      pointer-events: auto;

      @media only screen and (max-width: 767px) {
        padding: 5rem 48px 2rem;
      }

      .closeButton {
        opacity: 1;
      }
    }
  }
}

.activeMenu {
  text-decoration: underline;
}

.menuTitle {
  &:before {
    content: "";
    display: block;
    width: 200%;
    height: 1px;
    background-color: var(--color-pangea);
    margin-bottom: 0.5rem;
    position: absolute;
    min-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: 90vw;

    @media only screen and (max-width: 479px) {
      content: none;
    }
  }
}
